@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.situacaoTarefa {
  font-size: 80%;
  font-style: italic;
}

.border {
  border: 1px solid #00000022;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.linhaTarefa {
  /* background: #eeeeee; */
  /* background: red; */
  border-bottom: 1px solid #e1e1e1;

  padding: 10px 10px;
  border-radius: 5px;
  /* margin: 15px 0px; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linhaSituacao {
  /* background: #eeeeee; */
  /* background: red; */
  border-bottom: 1px solid #e1e1e1;

  padding: 10px 10px;
  border-radius: 5px;
  /* margin: 15px 0px; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-shrink-none {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a.btn,
button.btn,
input.btn {
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  margin: 5px 0px;
  background: #eeeeee;
  cursor: pointer;
}

a.btn:hover,
button.btn:hover,
input.btn:hover {
  background: #5599ff22;
}

a.btn.sm,
button.btn.sm,
input.btn.sm {
  font-size: 80%;
}

.quadroKanban {
}
.colunaKanban {
  border: 1px solid black;
  padding: 10px 10px;
}
.tituloColunaKanban {
  margin: 0px;
  padding: 0px;
  min-width: 220px;
  max-width: 220px;
}

.cardKanban {
  border-radius: 5px;
  background-color: #aaaaaa22;
  margin: 5px auto;
  padding: 10px;
  min-width: 220px;
  max-width: 220px;
}
.cardKanban:hover {
  background-color: #aaaaaa33;
}
